

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'helvetica', sans-serif;
  overflow-x: hidden;
}

.wrapper {
  width: 100vw;
  height: 100vw;
  background-color: #383838;
  color: #ffffff;
}


.navbar {
  display: flex;
  justify-content: space-between;
  padding: 2em;
}

.logo{
  margin-top: -7px;
}

.logo span { 
color: aqua;


}

.menu {
  display: flex;
  justify-content: space-around;
  width: 50%;
  
}


.menu li {
    list-style: none;
    color: #fff;

}


.menu a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
}


.menu .activo {
  color: aqua;
}

